body{
    font-family: sans-serif, Arial, Helvetica;
}

h1 {
    size: 10px;
    color: violet;
}

h2{
    font-style: italic;
}

#parrafo1 {
    color: brown;
}

#parrafo2{
    color: coral;
}

li {
    color: rgb(158, 153, 78);
}

